@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["Manager"]</h3>

<p>Manager @ViewData["Manager"] </p>
<address>
    <strong>Email @ViewData["Email"]</strong>
</address>
